#title{
    font-family: Consolas;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .custom-navbar {
    background-color: #d4fcd3; 
    padding: 10px;
  }
  
  .dark-mode .custom-navbar {
  background-color: #1f1f1f;
}

.dark-mode #title {
  color: #ffffff;
}
