#title{
    font-family: Consolas;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .custom-navbar {
    background-color: #d4fcd3; 
    padding: 10px;
  }
  